In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
Q1_data=pd.read_csv("Dataset/Cutlets.csv")

In [3]:
Q1_data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
Q1_data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [5]:
UnitA_mean=Q1_data['Unit A'].mean()
UnitB_mean=Q1_data['Unit B'].mean()
print('Unit A Mean=',UnitA_mean,'\nUnit B Mean=',UnitB_mean)
print('Unit A Mean > Unit B Mean=',UnitA_mean>UnitB_mean)

Unit A Mean= 7.0190914285714285
Unit B Mean= 6.964297142857142
Unit A Mean > Unit B Mean= True

In [6]:
unit_a=pd.DataFrame(Q1_data['Unit A'])
unit_b=pd.DataFrame(Q1_data['Unit B'])

In [7]:
# Shapiro-Wilk test for normality
_, p_value_a = stats.shapiro(unit_a)
_, p_value_b = stats.shapiro(unit_b)

print("Shapiro-Wilk Test - Unit A p-value:", p_value_a)
print("Shapiro-Wilk Test - Unit B p-value:", p_value_b)

Shapiro-Wilk Test - Unit A p-value: 0.31998491287231445
Shapiro-Wilk Test - Unit B p-value: 0.5225146412849426

In [8]:
# Two-sample t-test
_, p_value_ttest = stats.ttest_ind(unit_a, unit_b, equal_var=True)

print("Two-sample t-test - p-value:", p_value_ttest)

Two-sample t-test - p-value: [0.47223947]

In [9]:
alpha = 0.05

# Check normality assumption
if p_value_a > alpha and p_value_b > alpha:
    print("Both samples are approximately normally distributed.")
else:
    print("At least one sample is not normally distributed.")

# Perform the two-sample t-test and draw inferences
if p_value_ttest < alpha:
    print("There is a significant difference in the diameter of the cutlet between Unit A and Unit B.")
else:
    print("There is no significant difference in the diameter of the cutlet between Unit A and Unit B.")

Both samples are approximately normally distributed.
There is no significant difference in the diameter of the cutlet between Unit A and Unit B.