In [1]:
import pandas as pd
import numpy as np
from scipy.stats import f_oneway

In [2]:
Q2_data=pd.read_csv('Dataset/LabTAT.csv')
Q2_data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [3]:
Laboratory_1=Q2_data['Laboratory 1'].mean()
Laboratory_2=Q2_data['Laboratory 2'].mean()
Laboratory_3=Q2_data['Laboratory 3'].mean()
Laboratory_4=Q2_data['Laboratory 4'].mean()

In [4]:
print('Laboratory 1 Mean = ',Laboratory_1)
print('Laboratory 2 Mean = ',Laboratory_2)
print('Laboratory 3 Mean = ',Laboratory_3)
print('Laboratory 4 Mean = ',Laboratory_4)

Laboratory 1 Mean =  178.36158333333336
Laboratory 2 Mean =  178.9029166666667
Laboratory 3 Mean =  199.91324999999998
Laboratory 4 Mean =  163.68275

In [5]:
# Data for each laboratory
lab1 = Q2_data['Laboratory 1']
lab2 = Q2_data['Laboratory 2']
lab3 = Q2_data['Laboratory 3']
lab4 = Q2_data['Laboratory 4']

In [6]:
# Perform one-way ANOVA test
f_statistic, p_value = f_oneway(lab1, lab2, lab3, lab4)

# Define significance level
alpha = 0.05

# Printing the results
print("F-statistic:", f_statistic)
print("P-value:", p_value)

# Check the result
if p_value < alpha:
    print("\nThere is a significant difference in average TAT among the laboratories.")
else:
    print("There is no significant difference in average TAT among the laboratories.")

F-statistic: 118.70421654401437
P-value: 2.1156708949992414e-57

There is a significant difference in average TAT among the laboratories.